{% extends "layout.html" %}

{% block content %}

<h2 class="text-xl font-bold mb-4">Register</h2>

<form method="POST">

<input name="username" placeholder="Username"
class="border p-2 w-full mb-3">

<input name="password" type="password"
placeholder="Password"
class="border p-2 w-full mb-3">

<select name="role" class="border p-2 w-full mb-3">
<option value="student">Student</option>
<option value="teacher">Teacher</option>
</select>

<button class="bg-indigo-600 text-white px-4 py-2 rounded">
Register
</button>

</form>

{% endblock %}